.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #EFEFEF;
  padding: 20px;
  height: 100%;
}

.statistics__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* disable wrapping */
  width: 100%;
}

.statistics__cards {
  margin: 10px; /* add a little space around cards */
  width: 100%;
}

.statistics__charts {
  justify-content: space-between;
}

.statistics__chart-card {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 800px) {
  .statistics__row {
    flex-direction: column;
  }
  
  .statistics__cards {
    flex-basis: auto; /* let the cards take full width on smaller screens */
  }

  .statistics__chart-card {
    width: 80%;
    margin-bottom: 20px;
  }
}
