.statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 20px;
    padding: 20px;
    width: 90%;
    height: 80%;
  }

  .statistics-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .statistics__item--full,
  .statistics__item--double {

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
  }
  
  .statistics__item--double {
    grid-column: span 2;
  }
  