@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;800&family=Roboto:wght@400;700&display=swap');
*{
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: Roboto;
}
.container{
  display:flex;
  
}
main{
  width: 100%;
}
*::-webkit-scrollbar {
  width: 5px;
  right: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent; 
}
 
*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px; 
  border: 3px solid transparent;
}